<div class="filler-block"></div>
    <div class="main">
        <div class="main-content">
            <div class="main-container">
                <img src="./../../../assets/img/oldiers.jpg" alt="">
                <div>
                    <h1>Наша ціль - захист України!</h1>
                    <p>Наша ціль залишається незмінною – підготовка громадян  України до протидії воєнним загрозам, а також надання допомоги у захисті населення, територій, навколишнього природного середовища та майна від надзвичайних ситуацій.
                    <br><br>
                    Цей інформаційний ресурс призначений для надання громадянам України первинних (базових) знань у військовій справі, необхідних для захисту країни і стійкого опору агресору незалежно від політичних та інших вподобань, статі, етнічного та соціального походження, майнового стану, місця проживання.</p>
                </div>
            </div>
            <div class="main-about">
                <div> 
                    <p>Добовий наряд призначається для підтримання внутрішнього порядку, охорони особового складу, озброєння, боєприпасів, бойової та іншої техніки, приміщень і майна військової частини (підрозділу), контролю за станом справ у підрозділах і своєчасного вжиття заходів для запобігання правопорушенням, а також для виконання інших обов'язків внутрішньої служби.
                    Склад добового наряду оголошується наказом по військовій частині на період навчання.</p>
                    <br><br>
                    Добовий наряд військової частини призначається у такому складі:
                    <ul>
                        <li>черговий частини;</li>
                        <li>помічник чергового частини;;</li>
                        <li>черговий підрозділ;</li>
                        <li>варта;</li>
                        <li>черговий і днювальні парку, а також механіки-водії (водії) чергових тягачів;</li>
                        <li>черговий фельдшер або санітарний інструктор і днювальні медичного пункту;</li>
                        <li>черговий і помічники чергового контрольно-пропускного пункту;</li>
                        <li>черговий їдальні та робітники їдальні;</li>
                        <li>черговий штабу частини та посильні;</li>
                        <li>черговий сигналіст;</li>
                        <li>пожежний наряд;</li>
                        <li>водії чергових автомобілів.</li>
                    </ul>                    
                </div>
                <img src="./../../../assets/img/grph.png" alt="">
            </div>
        </div>
    </div>