.salePage {
    margin-top: 25px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
    color: var(--main-color);
    .title {
        font-size: 30px;
        font-weight: bold;
    }
    .timer {
        .text {
            padding: 20px 0;
        }
        .finish {
            font-size: 25px;
        }
    }
}