<week-duty-form (onSub)="addPost($event)" [allpeoples]="allpeoples"></week-duty-form>
<mat-form-field class="field-section">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="ПІБ" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

  <!--  number Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>№</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>
  <!--  PIB Column -->
  <ng-container matColumnDef="PIB">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ПІБ</th>
    <td mat-cell *matCellDef="let row">{{row.PIB}}</td>
  </ng-container>
  <!--  start Column -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Початок Наряду</th>
    <td mat-cell *matCellDef="let row">{{row.start}}</td>
  </ng-container>
  <!--  end Column -->
  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Кінець Наряду</th>
    <td mat-cell *matCellDef="let row">{{row.end}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Виконано</th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox formControlName="status" [checked]="row.status" class="checkbox"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container  matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Видалити</th>
    <td mat-cell *matCellDef="let row">
      <button id="remove" (click)="deleteRow(row)" class="del">X</button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Нічого не знайдено</td>
  </tr>
</table>

<mat-paginator class="full-width-table" #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
  [pageSizeOptions]="[5, 10]" aria-label="Select page">
</mat-paginator>